/* CSS Document*/
body{
	font-family: "Trebuchet MS", Arial, Helvetica;
	background-image: url('../images/nav_background.gif');
	background-repeat: repeat-y;
	background-position: top left;
}
#container{
	width: 800px;
}
p, ul,li,ol{
	font-size: 14px;
}
ul.nobullet li{
	list-style-type: none;
}
#header h1{
	margin: 0;
	padding: 0;
	text-indent: -5000em;
}
#navigation{
	float: left;
	margin: 0;
	padding-top: 120px;
	width: 220px;
	background: url("../images/logos/k12logo2.gif") no-repeat;
}
#navigation li{
		text-align: right;
		list-style: none;	
		font-size: 15px;
		font-weight: bold;
		border-bottom: 1px solid #ffffff;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		margin: 10px 0 0 0;
		padding: 0 10px 0 0;
	}
	#navigation li a:link, #navigation li a:visited{
		text-decoration: none;
		color: #ffffff;
	}
	#navigation li a:hover{
		color: #FFFF99;
		text-decoration: none;
	}
#search{
	margin-top: 50px;
	font-weight: bold;
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: right;
	padding-right: 3px;
}
#maincontent{
	float: right;
	clear: right;
	margin: 0;
	padding: 0;
	width: 560px;
}
	#maincontent p{
		padding: 0;
		clear: both;
	}
	#maincontent h1{
		border-bottom: 1px solid #999999;
		font-size: 28px;
		margin: 0;
		text-align: right;
		color: #333366;
	}
	h2{
		font-size: 26px;
		margin-top: 2em;
		color: #3399CC;
	}
	h3{
		font-size: 24px;
		margin-bottom: .75em;
		color: #000066;
	}
	h4{
		font-size: 18px;
		margin: 0;
		color: #000000;
	}
	.sectionlogo{
		padding: 0;
		margin: 0;
	}

#footer {
		width: 560px;
		float: right;
		}
	#footer img {
		float: left;
		padding-top: 10px;
		}
	#nsf {
		position: relative;
		float:left;
		width: 250px;
		margin: 0;
		/*background: url("../images/logos/NSFlogo.gif") no-repeat;*/
		}
	#nsf p{ 
		clear: right;
		margin: 0 0 1em 1em; 
		font-size: 11px;
		}
	#nsf p img{
		float: left;
		margin: 0;
		padding: 0 1em 0 0 ;
	}
	#edc{
		float: right;
		width: 260px;
		margin: 0;
		padding: 0;
		/*background: url("../images/logos/edc_logonew.jpg") no-repeat;*/
	}
	#edc p{
		clear: right;
		margin: 0 0 0 0em; 
		font-size: 11px;
	}
	#edc p img{
		float: none;
		margin: 0;
		padding: 0 1em 0 0 ;
	}
	#textlinks{
		margin: 0;
		padding: 0;
	}
	#textlinks p{
		margin: 1em 0 2em 0;
		font-size: 12px;
		text-align: center;
	}
	#footer a:link, #footer a:visited{
		text-decoration: none;
		color: #003366;
	}
	#footer a:hover{
		text-decoration: underline;
		color: #003366;
	}
.bigsquares{
	float: right;
}
.title{
	font-style: italic;
}
.leftphoto{
	float: left;
	padding: 0 10px 20px 10px;
}
.rightphoto{
	float: right;
	padding: 0 10px 20px 10px;
}
.opportunities{
	font-weight: bold;
	margin-bottom: -1em;
	color: #000066;
}
div .contactinfo{
	line-height: .25em;
}
#maincontent label {
	display: block;  
	font-weight: bold; 
	color: #000066;
}
	
#maincontent textarea {margin-left: 40px;}
#maincontent input {margin-left: 40px;}

.redasterisk{
	color: #FF0000;
}
.bold{
	font-weight: bold;
}
.blockquote{
	margin-left: 4em;
}
.introtext{
	color: #000066;
	font-style: italic;
}